# Ignore virtual environment
venv/

.DS_Store/

# Ignore Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Ignore large datasets
data/*.csv
data/*.zip

# Ignore output images and models (optional)
visuals/
*.pt
